<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= image_tag('https://s3.amazonaws.com/mywinebucket/wine-cellar.jpg',
              :id => 'home') %>
    <h1>My Wine Cellar</h1>
    <a href="/wines">Cellar List</a>
    <%= render 'layouts/footer' %>
  </div>
</body>

