<body>
  <%= render 'layouts/header' %>
  <div class="container" id="ua">
    <h1>Unauthorized</h1>
    <h3>Sorry, only admins are allowed to:</h3>
    <ul id="ua_list">
      <li><h4>Add</h4></li>
      <li><h4>Delete</h4></li>
      <li><h4>Edit</h4></li>
    </ul>
    <p>Email <a href="mailto:matt@matthewgyang.com">matt@matthewgyang.com</a> to request admin access or login <a href="login">here.</a></p>
    <%= render 'layouts/footer' %>
  </div>
</body>
