<body>
  <%= render 'layouts/header' %>
  <div class="container" id="ua">
    <h1>Unauthorized</h1>
    <h3>Sorry, only admins are allowed to:</h3>
    <ul id="ua_list">
      <li>Add</li>
      <li>Delete</li>
      <li>Edit</li>
    </ul>
    <p>Email <a href="mailto:matt@matthewgyang.com">matt@matthewgyang.com</a> to request admin access</p>
    <%= render 'layouts/footer' %>
  </div>
</body>
