@import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

body .container {
  width: 980px;
}

.background {
  background: url(https://s3.amazonaws.com/mywinebucket/grape-vines.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  clear: left;
}

/* home page */
#home-container-left {
  width: 315px;
  height: 300px;
  margin-right: 5px;
  margin-bottom: 25px;
  float: left;
  padding-left: auto;
  text-align: center;
}

#home-container-middle {
  width: 300px;
  height: 300px;
  margin-top: 0px;
  margin-right: 5px;
  border: 1px solid black;
  float: left;
  border-radius: 5px;
  border: 3px solid black;
}

#home-container-right {
  width: 300px;
  height: 300px;
  margin-top: 0px;
  border: 1px solid black;
  float: left;
  border-radius: 5px;
  border: 3px solid black;
}

#home-pic {
  margin-bottom: 5px;
  width: 300px;
  height: auto;
}

#home-title {
  margin-top: 10px;
  text-align: center;
}

#home-list {
  margin: 5px auto;
}

#random-wine {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#random-title {
  text-align: center;
  margin-top: 10px;
}

.random-text {
  text-align: center;
}

/* table */
#index_title {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

/* Show page */
#show-page {
  width: 455px;
  margin-left: auto;
  margin-right: auto;
}

#show-page h1 {
  text-align: center;
}

.show-pic {
  // width: 300px;
  margin-left: 77px;
}

/* Buttons */

.button {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  display: block;
}

#add {
  background-color: #d80e00;
  display: block;
  margin: 5px auto;
}

.no-style:hover {
  text-decoration: none;
  color: white;
}

.bottom {
  display: inline-block;
}

/* Forms */

.form {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* Unauthorized page */
#ua {
  text-align: center;
}

#ua_list {
  width: 15px;
  margin-left: 43%;
  margin-right: auto;
}
