<footer class="footer">
  <small>
    My Wine Cellar - A Ruby on Rails app
    by <a href="http://www.matthewgyang.com">Matthew Yang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Cellar List", wines_path %></li>
    </ul>
  </nav>
</footer>
