<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "My Wine Cellar", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Cellar List", wines_path %></li>
        <li><%= link_to "Login", wines_path %></li>
      </ul>
    </nav>
  </div>
</header>
